* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100vh;
}
body {
  /* align-items: center;
    justify-content: center; */
  height: 100%;
  display: flex;
}

h2 {
  font-size: 30px;
}

.idv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#input {
  height: 50px;
  width: 300px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  padding-left: 10px;
}

.button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.delete {
  height: 50px;
  width: 70px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #fff9b8;
  width: 100%;
  padding-top: 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: left;
  font-size: 30px;
}

.list li {
  padding: 10px 0;
  cursor: pointer;
  /* user-select: none; */
}

.list button {
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#CheckBox {
  width: 470px;
  height: 100%;
}
